@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter var', sans-serif;
}

*::selection {
  background: #fbbf24;
  color: #ffffff;
}
